<div class="dialog-header">
  <mat-icon class="icon-warn">warning</mat-icon>
  <h2 mat-dialog-title>{{ translationService.t().dialogs.factory_reset_title }}</h2>
</div>
<mat-dialog-content>
  <p class="warning-text" [innerHTML]="translationService.t().dialogs.factory_reset_warning">
  </p>
  <p>
    {{ translationService.t().dialogs.factory_reset_backup_recommendation }}
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end" class="dialog-actions">
  <button mat-button (click)="onCancel()">{{ translationService.t().common.cancel }}</button>
  <button mat-stroked-button color="primary" (click)="onBackup()">
    <mat-icon>download</mat-icon>
    {{ translationService.t().dialogs.backup_data }}
  </button>
  <button mat-raised-button color="warn" (click)="onReset()">
    {{ translationService.t().dialogs.reset_everything }}
  </button>
</mat-dialog-actions>
